@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0 10px;
  font-family: "PT Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(237, 237, 237);
}

input {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  padding: 0 4px;
  background: none;

  &:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.02);
  }
}